@model ikifikir.editor.Models.PricingDataModel.PricingModel.PricingViewModel
@using ikifikir.editor.Models.PricingDataModel.PricingComponentModel

@{
    ViewData["Title"] = "fiyatpaketdetay";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PricingComponentListViewModel> components = 
        ViewBag.PaketBilesenleri as List<PricingComponentListViewModel>;
}


<div class="row"> 
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h4 class="card-title">Paket Bileşenleri</h4>
                        <p class="card-title-desc">Fiyat paketleri ile ilgili işlemlerinizi gerçekleştirin</p>
                    </div>
                    <div class="col-sm-3">
                        <a asp-controller="fiyatpaket" asp-action="paketBileseniEkle" asp-route-id="@Model.Id"
                           style="position: relative; top: 12px; float:right;"
                           class="btn btn-primary btn-sm">Bileşen Ekle <i class="fas fa-plus fa-sm"></i></a>
                    </div>
                </div>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-bs-pattern="priority-columns">
                        <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Başlık</th>
                                    <th>Fiyat</th>
                                    <th>Paket</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in components)
                                {
                                    <tr class="button-items" id="tooltip-container">
                                        <td style="text-align:center;">@Html.DisplayFor(model => item.Id)</td>

                                        @if (item.ComponentTitle.Length > 40)
                                        {
                                            <td>
                                                <a data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="top" title="Bileşeni Düzenle"
                                                   asp-action="paketBileseniGuncelle" asp-controller="fiyatpaket"
                                                   asp-route-id="@item.Id">@item.ComponentTitle.Substring(0, 40)<span>...</span></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="top" title="Bileşeni Düzenle"
                                                   asp-action="paketBileseniGuncelle" asp-controller="fiyatpaket"
                                                   asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ComponentTitle)</a>
                                            </td>
                                        }

                                        <td>@item.Price ₺</td>
                                     
                                        @if (item.pricing.Title.Length > 40)
                                        {
                                            <td>@item.pricing.Title.Substring(0,40)<span>...</span></td>
                                        }

                                        else
                                        {
                                            <td>@item.pricing.Title</td>
                                        }

                                    <td>
                                        <a style="padding:3px;" data-bs-container="#tooltip-container"
                                           data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Bileşen Sil" asp-action="iceriksil"
                                           asp-route-id="@item.Id"><i class="mdi mdi-trash-can mdi-24px"></i></a>

                                        @if (item.IsActive == false)
                                        {
                                            <a style="padding:3px;" data-bs-container="#tooltip-container"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               title="Bileşeni Aktifleştir" asp-action="icerikaktiflestir"
                                               asp-route-id="@item.Id"><i class="mdi mdi-publish mdi-24px"></i></a>
                                        }
                                        else
                                        {
                                            <a style="padding:3px;" data-bs-container="#tooltip-container"
                                               data-bs-toggle="tooltip" data-bs-placement="top"
                                               title="Bileşeni Pasifleştir" asp-action="icerikaktiflestir"
                                               asp-route-id="@item.Id"><i class="mdi mdi-earth-remove text-danger mdi-24px"></i></a>
                                        }

                                        <a style="padding:3px;" data-bs-container="#tooltip-container"
                                           data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Bileşen Tipleri" asp-action="paketTipleri"
                                           asp-route-id="@item.Id"><i class="mdi mdi-file-edit mdi-24px"></i></a>
                                    </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>