@model PaginationList<ikifikir.editor.Models.ReferenceLogoModel.ReferenceLogoListViewModel>
@using ikifikir.CORE.Helper.Extends;

@{
    ViewData["Title"] = "referanslogolar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<style type="text/css">

    .title {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: #dc3545;
        color: white;
        box-shadow: 1px 2px 4px #dc3545;
    }

    .card-title-desc {
        color: #6c757d;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        float: right;
        top: -7px;
        position: relative;
    }

    .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: fixed;
    }

    .input-group {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        float: right;
        -ms-flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: self-end;
        width: 100%;
    }
</style>


<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <button style="margin-left: 27px; margin-bottom:10px; position:relative; float:right; top:6px;" type="button" class="btn btn-info rounded-0" data-bs-toggle="modal" data-bs-target="#UploadVideo">
                        <i class="fa fa-plus-circle"></i> Yeni Logolar Ekle
                    </button>
                    <h4 class="card-title">Logolar</h4>
                    <p class="card-title-desc">Refefanslarınız ve İş Ortaklarınızın logolarını ortam medyasına ekleyin</p>

                    <div class="modal fade" id="UploadVideo" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Yeni logolar ekleyin</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form enctype="multipart/form-data" method="post" action="@Url.Action("logolariekleyin","proje")" class="dropzone">
                                        <div class="fallback">
                                            <input type="file" multiple accept="image/*" name="file" id="files">
                                        </div>
                                        <div class="dz-message needsclick">
                                            <div class="mb-3">
                                                <i class="mdi mdi-cloud-upload display-4 text-muted"></i>
                                            </div>

                                            <h4>Fotoğraflarınızı sürükleyip bırakın ve yüklensin.</h4>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination" style="float:right">
                    <li class="page-item">
                        <a asp-action="OrtamMedyasi" class="btn btn-link">Başa Dön</a>
                    </li>
                    <li class="page-item">
                        <a asp-action="OrtamMedyasi" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-link @prevDisabled">Önceki</a>
                    </li>
                    <li class="page-item">
                        <a asp-action="OrtamMedyasi" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-link @nextDisabled">Sonraki</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <a class="image-popup-no-margins" href="https://uploads.ikifikir.net/images/@item.slug">
                            <img src="https://uploads.ikifikir.net/images/@item.slug" alt="" class="img-fluid">
                        </a>
                        <a href="@Url.Action("fotografisil","proje", new { Id = item.Id })" class="btn btn-danger mt-2"><i class="fa fa-trash-alt"></i> Fotoğrafı Sil</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts{
    <script src="~/libs/dropzone/min/dropzone.min.js"></script>
    <link href="~/libs/dropzone/min/dropzone.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            Dropzone.options.dropzoneForm = {
                paramName: "file",
                maxFilesize: 20,
                maxFiles: 4,
                acceptedFiles: "image/*",
                dictMaxFilesExceeded: "Custom max files msg"
            }
        });
    </script>
}
