@model IEnumerable<ikifikirweb.ViewModels.ProjectModel.ProjectListViewModel>
@using ikifikirweb.ViewModels.CategoryModel
@using ikifikirweb.Models.MetaConfig


@{
    ViewData["Title"] = "calismalar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    MetaViewModel meta = ViewBag.Meta as MetaViewModel;
    List<CategoryListViewModel> model = ViewBag.Categories as List<CategoryListViewModel>;
}
<link href="~/assets/css/mobile.css" rel="stylesheet" />
<style>

    body.header-transparent-on #page-header.ph-xlg .page-header-inner {
        padding-top: 110px;
        padding-bottom: 30px;
    }

    .page-header-caption.ph-cap-xlg .page-header-title {
        font-size: 45px;
    }

    .page-header-title {
        max-width: 900px;
        margin: 0 0 0px 0;
        font-size: 52px;
        font-weight: 700;
        color: #181c25;
    }

    #page-header.ph-xlg .page-header-inner {
        padding-top: 18px;
        padding-bottom: 0px;
    }

    .isotope-top-content {
        position: relative;
        padding: 25px 2%;
    }
</style>

<section id="page-header" class="ph-xlg">

    <div class="page-header-image parallax-6 bg-image" style="background-image: url('https://uploads.ikifikir.net/images/header-ne-yapariz.jpg');">
        <div class="cover cover-opacity-1"></div>
    </div>
    <!-- End page header image -->
    <!-- Begin page header inner -->
    <div class="page-header-inner tt-wrap">

        <div class="page-header-caption ph-cap-xlg ph-cap-light ph-cap-shadow parallax-4 fade-out-scroll-5">
            <div class="ph-title-wrap work-title-prel">
                <h2 class="page-header-title" style="font-size: 30px; color: #8e2e91;">Ne Yaparız?</h2>
            </div>
        </div>
        <!-- End page header caption -->

    </div>

    <div class="ph-anim-element-wrap hide-ph-anim parallax-4 fade-out-scroll-4">
        <div class="ph-anim-element-holder">
            <div class="ph-anim-element"></div>
        </div>
    </div>
    <!-- End page header animated element -->

</section>

<section id="portfolio-list-section">
    <div class="portfolio-list-inner isotope-wrap">

        <div class="isotope col-3">

            <div class="isotope-top-content">

                <div class="isotope-filter">
                    <div class="isotope-filter-button">
                        <span class="ifb-icon"><span class="lnr lnr-funnel"></span></span>
                        <span class="ifb-icon-close"><i class="fas fa-times"></i></span> <!-- effect on small screens!) -->

                        <span class="ifb-text">Filter</span>

                    </div> <!-- /.isotope-filter-button -->
                    <!-- Begin isotope filter links -->
                    <ul class="isotope-filter-links" style="text-align:center;">
                        @foreach (var item in model)
                        {
                            <li><button data-filter=".@item.filterType">@item.name</button></li>
                        }

                    </ul>
                    <!-- End isotope filter links -->
                </div>
                <!-- End isotope filter -->

            </div>

            <section id="portfolio-list-section">
                <div class="portfolio-list-inner isotope-wrap">
                    <div class="isotope col-4 gutter-2">
                        <div class="isotope-items-wrap pli-colored pli-alter-3">
                            <div class="grid-sizer"></div>
                            @foreach (var item in Model.Where(x => x.parentProjectId == 999 && x.sorted != 0))
                            {
                                <div class="isotope-item @item.category.filterType iso-height-1" style="top: 232.719px; position:absolute">

                                    <div class="portfolio-list-item">

                                        <!-- Begin portfolio list item image -->
                                        <div class="pl-item-image-wrap">

                                                <a href="@Url.Action("calisma","anasayfa", new { Id = item.Id, projectName = item.GenerateSlug() })" class="pl-item-image-inner">
                                                    <div class="pl-item-image bg-image lazy" data-src="https://uploads.ikifikir.net/images/@item.imageThumbnail"></div>

                                                    <!-- Portfolio list item icon (displayed only with default hover overlay and "pli-alter-4" class in isotope-items-wrap) -->
                                                    <div class="pl-item-icon"><span class="lnr lnr-link"></span></div>
                                                </a>

                                        </div>

                                        <div class="pl-item-info">
                                            <div class="pl-item-caption">
                                                <h2 class="pl-item-title"><a href="@Url.Action("calisma","anasayfa", new { Id = item.Id, projectName = item.GenerateSlug() })">@item.projectName</a></h2>
                                                <div class="pl-item-category"><a href="">@item.category.name</a></div>
                                            </div>
                                        </div>
                                        <!-- End portfolio list item info -->

                                    </div>
                                    <!-- Begin portfolio list item -->
                                    <!--<div class="portfolio-list-item">-->
                                    <!-- Begin portfolio list item image -->
                                    <!--<div class="pl-item-image-wrap">-->
                                    <!-- Begin portfolio list item image inner -->
                                    <!--<a href="@Url.Action("calisma","anasayfa", new { Id = item.Id, projectName = item.GenerateSlug() })" class="pl-item-image-inner">
                                    <div class="pl-item-image bg-image lazy" data-src="https://uploads.ikifikir.net/images/@item.imageThumbnail"></div>-->
                                      <!-- Portfolio list item icon (displayed only with default hover overlay and "pli-alter-4" class in isotope-items-wrap) -->
                                    <!--<div class="pl-item-icon"><span class="lnr lnr-link"></span></div>
                                    </a>-->
                                    <!-- End portfolio list item image inner -->
                                    <!--</div>-->
                                    <!-- End portfolio list item image -->
                                    <!-- Begin portfolio list item info -->
                                    <!--<div class="pl-item-info">
                                        <div class="pl-item-caption">
                                            <h2 class="pl-item-title"><a href="@Url.Action("calisma","anasayfa", new { Id = item.Id, projectName = item.GenerateSlug() })">@item.projectName</a></h2>
                                            <div class="pl-item-category"><a href="@Url.Action("kategori","anasayfa",new { categoryId = item.categoryId })">@item.category.name</a></div>
                                        </div>
                                    </div>-->
                                    <!-- End portfolio list item info -->
                                    <!--</div>-->
                                    <!-- End portfolio list item -->

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>

<script src="~/assets/vendor/jquery/jquery.min.js"></script>