@model ikifikirweb.ViewModels.ProjectModel.ProjectViewModel
@using ikifikirweb.ViewModels.GalleryModel
@using ikifikirweb.ViewModels.ProjectModel
@using ikifikirweb.ViewModels.VideoModel
@using ikifikirweb.ViewModels.TagProjectModel

@{
    ViewData["Title"] = "calisma";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<GalleryListViewModel> galleries = ViewBag.GalleryList as List<GalleryListViewModel>;
    List<ProjectListViewModel> projects = ViewBag.MoreProjects as List<ProjectListViewModel>;
    List<VideoListViewModel> videos = ViewBag.Videos as List<VideoListViewModel>;
    List<TagProjectListViewModel> tags = ViewBag.tagList as List<TagProjectListViewModel>;

}

<style>
    body.header-transparent-on #page-header.ph-xlg .page-header-inner {
        padding-top: 125px;
        padding-bottom: 15px;
    }

    .page-header-inner {
        position: relative;
        padding: 10px 8%;
    }
</style>

<section id="page-header">

    <div class="page-header-image hide-ph-image parallax-6 bg-image" style="background-image: url('https://uploads.ikifikir.net/site/page-header-bg-9.jpg');">

        <div class="cover cover-opacity-4"></div>

    </div>

    <div class="page-header-inner tt-wrap">

        <div class="page-header-caption ph-cap-lg parallax-5">
            <div class="ph-title-wrap">
                <h1 class="page-header-title">@Model.projectName</h1>
            </div>
            <div class="ph-subtitle-wrap">
                <h2 class="page-header-subtitle">@Model.category.name</h2>
            </div>

            <div class="zig-zag-separator zig-zag-lg">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
        <!-- End page header caption -->
    </div>

    <div class="ph-anim-element-wrap parallax-4">
        <div class="ph-anim-element-holder">
            <div class="ph-anim-element"></div>
        </div>
    </div>
    <!-- End page header animated element -->

</section>

<section id="portfolio-single-section">
    <div class="portfolio-single-inner tt-wrap">

        <div class="row">
            <div class="col-xs-12 col-md-4">

                <div class="portfolio-single-info margin-bottom-40">

                    <div class="portfolio-single-text">
                        <h3>Çalışmamız hakkında</h3>
                        <p>@Html.Raw(Model.description)</p>
                    </div>

                    <div class="ps-attributes">
                        <ul class="ps-attr">
                            <li>
                                <!-- Required -->
                                <div class="ps-category">
                                    <div class="ps-attr-heading">Hizmet:</div>
                                    <div class="ps-attr-cont"><a href="@Url.Action("kategori","anasayfa", new { categoryId = Model.categoryId })">@Model.category.name</a></div>
                                </div>
                            </li>

                            <li>
                                <!-- Optional -->
                                <div class="ps-attr-heading">Müşteri:</div>
                                <div class="ps-attr-cont">@Model.client</div>
                            </li>
                            <li>
                                <!-- Optional -->
                                <div class="ps-attr-heading">Tarih:</div>
                                <div class="ps-attr-cont">@Model.CreatedTime.ToString("yyyy")</div>
                            </li>
                            <li>
                                <!-- Optional -->
                                <div class="ps-attr-heading">Kategori:</div>
                                <div class="ps-attr-cont">
                                    @foreach (var item in tags)
                                    {
                                        <a href="@Url.Action("aramasonucu","anasayfa", new { name = item.tagToTag.name })">@item.tagToTag.name</a><span>,</span>
                                    }
                                </div>
                            </li>
                            <li>
                                <!-- Optional -->
                                <div class="ps-attr-heading">Website:</div>
                                <div class="ps-attr-cont"><a href="@Model.website" target="_blank">@Model.website</a></div>
                            </li>
                        </ul> <!-- /.ps-attr -->
                    </div>
                    <!-- End portfolio single attributes -->

                </div>

            </div>

            @if (videos.Count() > 0)
            {
                <div class="col-xs-12 col-md-8">
            @foreach (var item in videos)
            {

                <div class="carousel-item carousel-item-start">

                    @if (item.iframe != null || item.iframe != "")
                    {
                        <div class="ratio ratio-16x9">
                            @Html.Raw(item.iframe)
                        </div>
                    }
                    else
                    {
                        <h4 class="card-title">
                            @item.name
                        </h4>
                        <p class="card-title-desc" style="margin-bottom:10px;">@item.slug </p>

                        <div class="ratio ratio-16x9">
                            <iframe src="@item.slug" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    }
                </div>
            }
        </div>
            }

            else
            {
                <div class="col-xs-12 col-md-8">

                    <div class="portfolio-single-gallery lightgallery psi-zoom psi-colored">

                        <div class="isotope col-2 gutter-3">

                            <!-- Begin isotope items wrap -->
                            <div class="isotope-items-wrap">

                                <!-- Grid sizer (do not remove!!!) -->
                                <div class="grid-sizer"></div>

                                @foreach (var item in galleries)
                                {
                                    <div class="isotope-item @Model.category.filterType iso-height-1">

                                        <!-- Begin portfolio single image -->
                                        <figure class="portfolio-single-image-holder">
                                            <a href="https://uploads.ikifikir.net/images/@item.slug"
                                               class="ps-image-link lg-trigger"
                                               data-exthumbnail="https://uploads.ikifikir.net/images/@item.slug"
                                               data-sub-html="<p>Evet bu görseli kullanıyorsun :)</p>">
                                                <div class="portfolio-single-image bg-image lazy"
                                                     data-src="https://uploads.ikifikir.net/images/@item.slug">
                                                    <div class="ps-image-icon">
                                                        <span class="lnr lnr-eye"></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>

                                    </div>
                                }

                            </div>

                        </div>

                    </div>

                </div> <!-- /.col -->
            }

        </div> <!-- /.row -->

    </div> <!-- /.portfolio-single-inner -->
</section>

<section id="project-carousel-section">
    <div class="project-carousel-inner">

        <div class="tt-heading tt-heading-xlg margin-bottom-80 text-center">
            <div class="tt-heading-inner tt-wrap">
                <h1 class="tt-heading-title">Daha Fazla Çalışma</h1>
                <div class="tt-heading-subtitle">Diğer çalışmalarımızı da beğeneceksin!</div>

                <div class="zig-zag-separator">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- End zig-zag separator -->

            </div> <!-- /.tt-heading-inner -->
        </div>

        <div class="project-carousel pli-colored pli-alter-4">

            <div class="owl-carousel nav-outside-top nav-rounded" data-lazy-load="true" data-items="4" data-margin="40" 
                 data-dots="false" data-nav="true" data-nav-speed="800" data-tablet-landscape="3" data-tablet-portrait="2" 
                 data-mobile-landscape="2" data-mobile-portrait="1">

                @foreach (var item in projects)
                {
                    <div class="cc-item iso-height-1">

                        <div class="portfolio-list-item">

                            <div class="pl-item-image-wrap">

                                <a href="@Url.Action("calisma","anasayfa", new { Id = item.Id, projectName = item.projectName })" class="pl-item-image-inner">
                                    <div class="pl-item-image bg-image owl-lazy" data-src="https://uploads.ikifikir.net/images/@item.imageThumbnail"></div>

                                    <div class="pl-item-icon"><span class="lnr lnr-link"></span></div>
                                </a>

                            </div>

                            <div class="pl-item-info">
                                <div class="pl-item-caption">
                                    <h2 class="pl-item-title"><a href="@Url.Action("calisma","anasayfa", new { Id = item.Id, projectName = item.projectName })">@item.projectName</a></h2>
                                    <div class="pl-item-category"><a href="@Url.Action("kategori","anasayfa", new { categoryId = item.categoryId })">@item.category.name</a></div>
                                </div>
                            </div>

                        </div>

                    </div>
                }


            </div>

        </div>

    </div>
</section>