@model ikifikirweb.ViewModels.PricingDataModelWeb.PricingWebModel.PricingViewModel
@using ikifikirweb.ViewModels.PricingDataModelWeb.PricingComponentWebModel
@using ikifikirweb.ViewModels.PricingDataModelWeb.PricingWebModel
@using ikifikir.CORE.EmailConfig
@{
    ViewData["Title"] = "fiyathesapla";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PricingListViewModel> pricingList = ViewBag.Paketler as List<PricingListViewModel>;
    List<PricingComponentListViewModel> pricingCompList = ViewBag.Hizmetler as List<PricingComponentListViewModel>;
    List<ComponentResult> componentChoosed = ViewBag.ComponentChoosed as List<ComponentResult>;

    string[] nameList = { };
    List<string> stringArray = new List<string>();
    string titleCurrent = "";

    if (componentChoosed != null)
    {
        foreach (var item in componentChoosed)
        {
            stringArray.Add(item.Title);
        }
        nameList = stringArray.ToArray();
    }

    int total = Convert.ToInt32(ViewBag.Total);

}

<link href="~/assets/css/mobile.css" rel="stylesheet" />
<link href="~/assets/css/calculate.css" rel="stylesheet" />
<link href="~/assets/css/carousel.css" rel="stylesheet" />

<style>
    html {
        scroll-behavior: smooth;
    }

    #header.header-show-hide-on-scroll.fly-up {
        top: 0px;
    }

    .wrap-section {
        max-width: 1282px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

<section id="prices-section">
    <div class="prices-section-inner tt-wrap">
        <div class="price-boxes-container">
            <div class="row">

                <!-- Hizmetler -->

                <div class="col-sm-9 col-price" @*id="col-pb-mobile"*@ style="padding: 0px 45px 0px 35px;">

                    <!-- Hizmetler Menü -->

                    <nav id="menu-container" class="arrow">
                        <div class="menu-inner-box">
                            <i class="fa fa-arrow-alt-circle-left arrow-left-calc"></i>
                            <i class="fa fa-arrow-alt-circle-right arrow-right-calc"></i>
                            <div class="menu overflow-y-scroll" style="height:65px;" id="subMenu-top">
                                @foreach (var item in pricingList)
                                {
                                    <a class="menu-item" href="#section_@item.Id">@item.Title</a>
                                }

                            </div>
                        </div>
                    </nav>

                    <!-- Hizmetler Menü -->

                    <div class="row margin-top-calculate">

                        @foreach (var item in pricingList)
                        {

                            <div class="price-box price-box-mobile"
                                 style="padding: 20px 0px 0px 0px; margin: 10px 0px; box-shadow: none; flex-direction: column;">

                                <!-- Hizmet Adı -->

                                <div class="tt-heading tt-heading-lg">
                                    <div class="tt-heading-inner">
                                        <h2 class="title-price-box title-mobile-size" id="section_@item.Id">@item.priceLongTitle</h2>
                                    </div>
                                </div>

                                <!-- Hizmet Adı -->

                                @foreach (var item2 in pricingCompList.Where(x => x.PricingId == item.Id))
                                {
                                    @if (nameList != null && nameList.Length > 0)
                                    {
                                        foreach (var item3 in nameList)
                                        {
                                            if (item2.ComponentTitle == item3)
                                            {
                                                titleCurrent = item2.ComponentTitle;
                                            }
                                        }
                                    }

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
                                        <div class="price-box" style="height: 135px; text-align: left; padding: 15px 15px; box-shadow: 0 0 5px 2px rgb(0 0 0 / 14%);">
                                            <div class="ps-attributes" style="position: absolute; top: 15px; left: 15px; max-width: calc(100% - 200px);">
                                                <ul class="ps-attr list-inline">
                                                    <li style="margin:0px; max-width:100%;">
                                                        <div class="ps-attr-heading" style="font-size:13px;">@item2.ComponentTitle</div>
                                                        <p style="font-size:14px;" class="ps-attr-cont">@item2.Description</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="ps-attr-cont margin-top-10" style="position: absolute; bottom: 5px; left: 15px; }">@Convert.ToInt32(item2.Price) ₺</div>
                                            <div class="pr-box" style="padding: 0px; position: absolute; right: 11px; bottom: 11px;">

                                                @if (item2.ComponentTitle == titleCurrent)
                                                {
                                                    <button style="padding: 5px 15px; font-size: 20px; margin:0px;" value="@item2.Id" class="btn btn-price-box btn-primary active">-</button>
                                                    <input type="hidden" value="@item2.Price" id="price_@item2.Id" />
                                                    <input type="hidden" value="@item2.ComponentTitle" id="title_@item2.Id" />
                                                }

                                                else
                                                {
                                                    <button style="padding: 5px 15px; font-size: 20px; margin: 0px;" value="@item2.Id" class="btn btn-price-box btn-primary">+</button>
                                                    <input type="hidden" value="@item2.Price" id="price_@item2.Id" />
                                                    <input type="hidden" value="@item2.ComponentTitle" id="title_@item2.Id" />
                                                }
                                            </div>
                                            <div class="pr-box" style="position:absolute; bottom:11px; right:11px">
                                                <img src="https://uploads.ikifikir.net/site/@item2.Image" style="width:110px; height:110px; object-fit:cover" />
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                        }

                    </div>
                    <span class="seperate-price"></span>
                </div>

                <!-- Hizmetler -->
                <!-- Sepet -->

                <div class="col-sm-3 fixed-total">

                    <!-- Sepet Seçilenler -->

                    @if (componentChoosed != null && componentChoosed.Count > 0)
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="price-box cart-button-w" id="cartButton" style="padding:5px 0;">
                                    <div class="pr-box price-features">
                                        <ul class="list-unstyled" style="margin:0;">
                                            <li><a style="cursor:pointer;" id="btn_view" onclick="viewCartList();">Sepeti Görüntüle</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="price-box cart-button-p" id="cartButton" style="padding:5px 0;">
                                    <div class="pr-box price-features">
                                        <ul class="list-unstyled" style="margin:0;">
                                            <li><a style="cursor:pointer; color:#fff;" href="@Url.Action("sepet","anasayfa")">Onayla</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="price-box overflow-y-scroll hideCart" id="cartList" style="max-height:300px; box-shadow: none; margin-top: 100px;">
                            <div class="pr-box price-features" style="padding: 5px 10px 0px 10px;">
                                <div class="price-box-price hidePrice">
                                    @if (total > 0)
                                    {
                                        <div class="price"><span style="color:#000;">Toplam:</span> <span id="count-price">@total</span> ₺</div>
                                    }
                                    else
                                    {
                                        <div class="price"><span style="color:#000;">Toplam:</span> <span id="count-price">0</span> ₺</div>
                                    }
                                    <hr />
                                </div>
                                <ul class="list-unstyled" id="uniqeListPrice">
                                    @foreach (var item in componentChoosed)
                                    {
                                        <li style="font-size: 15px; line-height: 22px;" id="list_@Convert.ToInt32(item.Price)">
                                            <div>
                                                @item.Title <br /> <strong>@item.Price ₺</strong>
                                                <hr style="margin-top: 10px; margin-bottom: 10px;" />
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    }

                    else
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="price-box cart-button-w" id="cartButton" style="padding:5px 0;">
                                    <div class="pr-box price-features">
                                        <ul class="list-unstyled" style="margin:0;">
                                            <li><a style="cursor:pointer;" id="btn_view" onclick="viewCartList();">Sepeti Görüntüle</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="price-box cart-button-p" id="cartButton" style="padding:5px 0;">
                                    <div class="pr-box price-features">
                                        <ul class="list-unstyled" style="margin:0;">
                                            <li><a style="cursor: pointer; color: #fff;" href="@Url.Action("sepet","anasayfa")">Onayla</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="price-box overflow-y-scroll hideCart" id="cartList" style="max-height: 300px; box-shadow: none; margin-top: 100px;">
                            <div class="pr-box price-features" style="padding: 5px 10px 0px 10px;">
                                <ul class="list-unstyled" id="uniqeListPrice">
                                    <li id="empty_list" style="font-size: 15px; line-height: 22px;">Hizmet seçmeye başlayın!</li>
                                </ul>
                            </div>
                        </div>
                    }

                    <!-- Sepet Seçilenler -->
                    <!--Toplam Fiyat-->

                    <div class="price-box mobile-cart" style="box-shadow: none;" id="btn-width">
                        <div class="price-box-price">
                            @if (total > 0)
                            {
                                <div class="price"><span class="total-title" style="color:#000;">Toplam:</span> <span id="count-price">@total</span> ₺</div>
                            }
                            else
                            {
                                <div class="price"><span class="total-title" style="color:#000;">Toplam:</span> <span id="count-price">0</span> ₺</div>
                            }
                        </div>
                    </div>

                    <!--Toplam Fiyat-->
                    <!-- Sepete Git Button -->

                    @if (total > 0)
                    {
                        <a href="@Url.Action("sepet","anasayfa")" style="background: none; border: 0; width: 100%; padding: 0; box-shadow:none;" class="btn-left mobile-cart" id="btn-width">
                            <div class="price-box pr-box-featured" style="box-shadow: none;" id="btnNext">
                                <span>Sepete Git</span>
                            </div>
                        </a>

                    }
                    else
                    {
                        <a href="@Url.Action("sepet","anasayfa")" style="background: none; border: 0; width: 100%; padding: 0; box-shadow:none;" class="btn-left mobile-cart" id="btn-width">
                            <div class="price-box pr-box-featured" style="box-shadow: none;" id="btnNext">
                                <span>Sepete Git</span>
                            </div>
                        </a>
                    }

                    <!-- Sepete Git Button -->

                </div>

                <!-- Sepet -->

            </div>
        </div>
    </div>
</section>

<script src="~/assets/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">

    let buttons = document.querySelectorAll('button');
    const countPrice = document.getElementById("count-price");
    const btnNext = document.getElementById("btnNext");
    let totalPrice = 0;
    let sumTotal = 0;

    var Id = 0;
    var IdRemove = 0;

    if (@total > 0) {
        sumTotal = @total;
        btnNext.style.cursor = "pointer";
        btnNext.style.backgroundColor = "#0040d8";
    }
    else {
        btnNext.style.cursor = "not-allowed";
        btnNext.style.backgroundColor = "#84a8ff";
        btnNext.style.disabled = "disabled";
    }

    buttons.forEach(button => {
        button.addEventListener('click', function () {
            btnNext.style.cursor = "pointer";
            btnNext.style.backgroundColor = "#0040d8";
            btnNext.style.disabled = "false";

            if (this.innerHTML == "+") {
                var id = $(this).val();
                var priceThis = $("#price_" + id).val();
                var titleThis = $("#title_" + id).val();
                Id = $(this).val();
                selected = true;
                this.classList.add('active');
                this.innerHTML = "-";
                //totalPrice = Number.parseInt($("#price_" + id).val());
                totalPrice = Number.parseInt(priceThis);
                countPrice.innerHTML = increment(totalPrice);
                insertToCalculate();
                insertDynamicListData(titleThis, priceThis);
            }
            else if (this.innerHTML == "-") {
                var id = $(this).val();
                IdRemove = $(this).val();
                var priceThis = $("#price_" + id).val();
                selected = false;
                this.classList.remove('active');
                this.innerHTML = "+";
                totalPrice = Number.parseInt($("#price_" + id).val());
                countPrice.innerHTML = deIncrement(totalPrice);
                removeToCalculate();
                removeDynamicListData(priceThis);
            }
        });
    });

    function insertDynamicListData(titleThis, priceThis) {

        var listEmpty = document.getElementById("empty_list");

        if (listEmpty != null) {
            listEmpty.remove();
        }

        var li = document.createElement('li');
        li.innerHTML = dynamicelementdata(titleThis, priceThis);
        document.getElementById("uniqeListPrice").appendChild(li);

    }

    function removeDynamicListData(priceThis) {
        var priceConvert = Number.parseInt(priceThis);
        var li = document.getElementById('list_' + priceConvert);
        li.remove();
    }

    function dynamicelementdata(titleThis, priceThis) {
        var priceConvert = Number.parseInt(priceThis);
        return "<li style='font-size: 15px; line-height: 22px;' id='list_" + priceConvert + "'>" +
            "<div>" + titleThis + " <br /> <strong>" + priceThis + " ₺</strong>" +
               "<hr style='margin-top: 10px; margin-bottom: 10px;' /> </div></li>"
    }

    function increment(totalPriceValue) {
        sumTotal += totalPriceValue;
        return Number.parseInt(sumTotal);
    }

    function deIncrement(totalPriceDeValue) {
        sumTotal -= totalPriceDeValue;
        return Number.parseInt(sumTotal);
    }

</script>

<script>

    var insertToCalculate = function () {

        try {

            $.ajax({

                type: "POST",
                url: "/anasayfa/sepeteekle/",
                data: { Id: Id },
                success: function (response) {
                    console.log("deneme");
                },
                error: function (response) {
                    console.log("hata");
                }

            });
        }

        catch (err) {
            alert(err);
        }

        finally {

        }

    }

    var removeToCalculate = function () {

        try {

            $.ajax({

                type: "POST",
                url: "/anasayfa/sepetcikar/",
                data: { IdRemove: IdRemove },
                success: function (response) {
                    console.log("deneme");
                },
                error: function (response) {
                    console.log("hata");
                }

            });
        }

        catch (err) {
            alert(err);
        }

        finally {

        }

    }

    var viewCartList = function () {

        var btn = document.getElementById("btn_view");
        var cartList = document.getElementById("cartList");
        var totalList = document.getElementsByClassName("total-title");

        if (btn.innerHTML == "Sepeti Kapat") {
            btn.innerHTML = "Sepeti Görüntüle";
            cartList.classList.remove('showCart');
            cartList.classList.add('hideCart');
        }
        else if (btn.innerHTML == "Sepeti Görüntüle") {
            btn.innerHTML = "Sepeti Kapat";
            cartList.classList.remove('hideCart');
            cartList.classList.add('showCart');
        }
    };

</script>
