@model ikifikirweb.ViewModels.PricingDataModelWeb.PricingWebModel.PricingViewModel
@using ikifikirweb.ViewModels.PricingDataModelWeb.PricingComponentWebModel
@using ikifikirweb.ViewModels.PricingDataModelWeb.PricingComponentTypeWebModel
@using ikifikirweb.ViewModels.PricingDataModelWeb.PricingWebModel
@using ikifikir.CORE.EmailConfig
@{
    ViewData["Title"] = "fiyathesapla";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PricingComponentTypeListViewModel> types = ViewBag.Tipler as List<PricingComponentTypeListViewModel>;
    List<PricingComponentListViewModel> components = ViewBag.Bilesenler as List<PricingComponentListViewModel>;
    List<PricingListViewModel> pricingList = ViewBag.Paketler as List<PricingListViewModel>;
    List<ComponentResult> componentChoosed = ViewBag.ComponentChoosed as List<ComponentResult>;

    string[] nameList = { };
    List<string> stringArray = new List<string>();
    string titleCurrent = "";

    if (componentChoosed != null)
    {
        foreach (var item in componentChoosed)
        {
            stringArray.Add(item.Title);
        }
        nameList = stringArray.ToArray();
    }

    int total = Convert.ToInt32(ViewBag.Total);

}
<link href="~/assets/css/mobile.css" rel="stylesheet" />
<link href="~/assets/css/calculate.css" rel="stylesheet" />

<section id="prices-section">
    <div class="prices-section-inner tt-wrap">
        <div class="price-boxes-container">

            <div class="row price-pb-m">
                <div class="col-sm-12">
                    <div class="tt-heading tt-heading-xlg padding-on" style="position: relative; top: 15px;">
                        <div class="tt-heading-inner">
                            <h1 class="tt-heading-title">@Model.Title</h1>
                            <div class="tt-heading-subtitle">Lütfen fiyat hesaplama modulünden istediğiniz hizmetleri seçin</div>
                        </div> <!-- /.tt-heading-inner -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9" @*id="col-pb-mobile"*@>
                    <div class="row">
                        @foreach (var item in components)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="padding-right: 5px;">
                                <div class="price-box">
                                    <div class="pr-box price-heading">
                                        <div class="price-heading-inner">
                                            <div class="prh-icon"><span class="lnr lnr-layers"></span></div>
                                            <h3 class="price-title">@item.ComponentTitle</h3>
                                        </div>
                                    </div>
                                    <div class="pr-box price-features">
                                        <ul class="list-unstyled">
                                            <li>@*@Decimal.Parse(item.Price.ToString("0.00##"))*@ @Convert.ToInt32(item.Price) ₺</li>
                                        </ul>
                                    </div>
                                    <div class="pr-box">

                                        @if (nameList != null && nameList.Length > 0)
                                        {
                                            foreach (var item2 in nameList)
                                            {
                                                if (item.ComponentTitle == item2)
                                                {
                                                    titleCurrent = item.ComponentTitle;
                                                }
                                            }
                                        }

                                        @if (item.ComponentTitle == titleCurrent)
                                        {
                                            <button style="padding: 5px 25px; font-size: 15px;" value="@item.Id" class="btn btn-price-box btn-primary active">Seçildi</button>
                                            <input type="hidden" value="@item.Price" id="price_@item.Id" />
                                        }

                                        else
                                        {
                                            <button style="padding: 5px 25px; font-size: 15px;" value="@item.Id" class="btn btn-price-box btn-primary">Seç</button>
                                            <input type="hidden" value="@item.Price" id="price_@item.Id" />
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row" style="margin-top:35px;">
                        <div class="col-sm-12" style="padding:0px;">
                            <section id="portfolio-list-section">
                                <div class="portfolio-list-inner isotope-wrap">
                                    <p class="title-look"><strong>Bu hizmetlerimize de göz atmak ister misiniz?</strong></p>
                                    <div class="isotope col-4 gutter-2" style="padding:0px;">
                                        <div class="isotope-items-wrap pli-colored pli-alter-3" style="position: relative; padding-top:20px; height: 1014.52px;">
                                            <div class="grid-sizer"></div>
                                         
                                            @foreach (var item in pricingList)
                                            {
                                                if (item.Id != Model.Id)
                                                {
                                                    <div class="isotope-item print iso-height-1" style="position: absolute; left: 463.266px; top: 0px;">
                                                        <div class="portfolio-list-item" style="border: 1px solid #979797;">
                                                            <div class="pl-item-image-wrap">
                                                                <a href="@Url.Action("fiyathesapla","anasayfa", new { Id = item.Id })" class="pl-item-image-inner">
                                                                    <div class="pl-item-image bg-image lazy" style="background-image: url(https://uploads.ikifikir.net/images/@item.Image );"></div>
                                                                    <div class="pl-item-icon"><span class="lnr lnr-link"></span></div>
                                                                </a>
                                                            </div>
                                                            <div class="pl-item-info">
                                                                <div class="pl-item-caption">
                                                                    <h2 class="pl-item-title" style="font-size:15px;"><a href="@Url.Action("fiyathesapla","anasayfa", new { Id = item.Id })">@item.Title</a></h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </section>

                            @*<div class="portfolio-list-inner isotope-wrap tt-wrap">
            <div class="isotope col-3 gutter-3">
                <div class="isotope-top-content">
                    <div class="isotope-filter">
                        <div class="isotope-filter-button">
                            <span class="ifb-icon"><span class="lnr lnr-funnel"></span></span>
                            <span class="ifb-icon-close"><i class="fas fa-times"></i></span>
                            <span class="ifb-text">Filter</span>
                        </div>
                        <span class="margin-bottom-2-p"><strong>Bu hizmetlerimize de göz atmak ister misiniz?</strong></span>
                        <ul class="isotope-filter-links" style="margin-top:10px;">

                            @foreach (var item in pricingList)
                            {
                                if (item.Id != Model.Id)
                                {
                                    <li><button onclick="window.location.href='@Url.Action("fiyathesapla", "anasayfa", new { Id = item.Id })'" data-filter=".branding">+ @item.Title</button></li>
                                }

                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>*@
                        </div>
                    </div>
                    <div class="row" id="showB">
                        <div class="col-sm-12">
                            <div style="height:150px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 fixed-total" style="padding-right: 5px;">
                    <div class="pay-box">

                        @if (componentChoosed != null && componentChoosed.Count > 0)
                        {
                            <div class="price-box" id="cartButton" style="padding:5px 0;">
                                <div class="pr-box price-features">
                                    <ul class="list-unstyled" style="margin:0;">
                                       <li><a style="cursor:pointer;" id="btn_view" onclick="viewCartList();">Listeyi Görmek İçin Tıklayınız</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="price-box overflow-y-scroll hideCart" id="cartList">
                                <div class="pr-box price-features" style="padding: 5px 10px 0px 10px;">
                                    <ul class="list-unstyled">
                                        @foreach (var item in componentChoosed)
                                        {
                                            <li style="font-size: 15px; line-height: 22px;">@item.Title</li>
                                            <li><strong>@item.Price ₺</strong></li>
                                            <hr style=" margin-top: 10px; margin-bottom: 10px;" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }

                        <div class="price-box pr-box-featured" id="btn-width">
                            <div class="pr-box price-box-price">
                                @if (total > 0)
                                {
                                    <div class="price"><span id="count-price">@total</span> ₺</div>
                                }
                                else
                                {
                                    <div class="price"><span id="count-price">0</span> ₺</div>
                                }
                            </div>
                        </div>

                        @if (total > 0)
                        {
                            <a href="@Url.Action("sepet","anasayfa")" style="background: none; border: 0; width: 100%; padding: 0;" class="btn-left" id="btn-width">
                                <div class="price-box pr-box-featured" id="btnNext">
                                    <div class="pr-box price-box-price btn-padding" style="padding: 7px 20px 15px 35px;">
                                        <div class="price"><span>Sepete Git</span></div>
                                    </div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("sepet","anasayfa")" style="background: none; border: 0; width: 100%; padding: 0;" class="btn-left" id="btn-width">
                                <div class="price-box pr-box-featured" id="btnNext">
                                    <div class="pr-box price-box-price btn-padding" style="padding: 7px 20px 15px 35px;">
                                        <div class="price"><span>Sepete Git</span></div>
                                    </div>
                                </div>
                            </a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">

    let buttons = document.querySelectorAll('button');
    const countPrice = document.getElementById("count-price");
    const btnNext = document.getElementById("btnNext");
    let totalPrice = 0;
    let sumTotal = 0;

    var Id = 0;
    var IdRemove = 0;

    if (@total > 0) {
        sumTotal = @total;
        btnNext.style.cursor = "pointer";
        btnNext.style.backgroundColor = "#0040d8";
    }
    else {
        btnNext.style.cursor = "not-allowed";
        btnNext.style.backgroundColor = "#84a8ff";
        btnNext.style.disabled = "disabled";
    }

    buttons.forEach(button => {
        button.addEventListener('click', function () {
            btnNext.style.cursor = "pointer";
            btnNext.style.backgroundColor = "#0040d8";
            btnNext.style.disabled = "false";

            if (this.innerHTML == "Seç") {
                var id = $(this).val();
                Id = $(this).val();
                selected = true;
                this.classList.add('active');
                this.innerHTML = "Seçildi";
                totalPrice = Number.parseInt($("#price_" + id).val());
                countPrice.innerHTML = increment(totalPrice);
                insertToCalculate();

            }
            else if (this.innerHTML == "Seçildi") {
                var id = $(this).val();
                IdRemove = $(this).val();
                selected = false;
                this.classList.remove('active');
                this.innerHTML = "Seç";
                totalPrice = Number.parseInt($("#price_" + id).val());
                countPrice.innerHTML = deIncrement(totalPrice);
                removeToCalculate();

            }
        });
    });

    function increment(totalPriceValue) {
        sumTotal += totalPriceValue;
        return Number.parseInt(sumTotal);
    }

    function deIncrement(totalPriceDeValue) {
        sumTotal -= totalPriceDeValue;
        return Number.parseInt(sumTotal);
    }

</script>

<script>

    var insertToCalculate = function () {

         try {

            $.ajax({

               type: "POST",
                url: "/anasayfa/sepeteekle/",
                data: { Id: Id },
               success: function (response) {
                   console.log("deneme");
               },
               error: function (response) {
                    console.log("hata");
               }

            });
         }

         catch (err) {
             alert(err);
         }

         finally {

         }

    }

    var removeToCalculate = function () {

        try {

            $.ajax({

                type: "POST",
                url: "/anasayfa/sepetcikar/",
                data: { IdRemove: IdRemove },
                success: function (response) {
                    console.log("deneme");
                },
                error: function (response) {
                    console.log("hata");
                }

            });
        }

        catch (err) {
            alert(err);
        }

        finally {

        }

    }

    var viewCartList = function () {

        var btn = document.getElementById("btn_view");
        var cartList = document.getElementById("cartList");

        if (btn.innerHTML == "Listeyi Kapat") {
            btn.innerHTML = "Listeyi Görmek İçin Tıklayınız";
            cartList.classList.remove('showCart');
            cartList.classList.add('hideCart');

        }
        else if (btn.innerHTML == "Listeyi Görmek İçin Tıklayınız") {
            btn.innerHTML = "Listeyi Kapat"
            cartList.classList.remove('hideCart');
            cartList.classList.add('showCart');

        }
    };

</script>
