@model ikifikirweb.ViewModels.PricingDataModelWeb.PricingWebModel.PricingViewModel
@using ikifikirweb.ViewModels.PricingDataModelWeb.PricingComponentWebModel
@using ikifikirweb.ViewModels.PricingDataModelWeb.PricingWebModel
@using ikifikir.CORE.EmailConfig
@{
    ViewData["Title"] = "fiyathesapla";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PricingListViewModel> pricingList = ViewBag.Paketler as List<PricingListViewModel>;
    List<PricingComponentListViewModel> pricingCompList = ViewBag.Hizmetler as List<PricingComponentListViewModel>;
    List<ComponentResult> componentChoosed = ViewBag.ComponentChoosed as List<ComponentResult>;

    string[] nameList = { };
    List<string> stringArray = new List<string>();
    string titleCurrent = "";

    if (componentChoosed != null)
    {
        foreach (var item in componentChoosed)
        {
            stringArray.Add(item.Title);
        }
        nameList = stringArray.ToArray();
    }

    int total = Convert.ToInt32(ViewBag.Total);

}

<link href="~/assets/css/mobile.css" rel="stylesheet" />
<link href="~/assets/css/calculate.css" rel="stylesheet" />
<link href="~/assets/css/carousel.css" rel="stylesheet" />

<style>
    html {
        scroll-behavior: smooth;
    }

    #header.header-show-hide-on-scroll.fly-up {
        top: 0px;
    }

    .wrap-section {
        max-width: 1282px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

<section id="prices-section">
    <div class="prices-section-inner tt-wrap">
        <div class="price-boxes-container">
            <div class="row">

                <!-- Hizmetler -->

                <div class="col-sm-9 col-price" @*id="col-pb-mobile"*@ style="padding: 0px 45px 0px 35px;">

                    <!-- Hizmetler Menü -->

                    <nav id="menu-container" class="arrow">
                        <div class="menu-inner-box">
                            <i class="fa fa-arrow-alt-circle-left arrow-left-calc"></i>
                            <i class="fa fa-arrow-alt-circle-right arrow-right-calc"></i>
                            <div class="menu overflow-y-scroll" style="height: 65px; margin-top: 5px;" id="subMenu-top">
                                @foreach (var item in pricingList)
                                {
                                    <a class="menu-item" href="#section_@item.Id">@item.Title</a>
                                }

                            </div>
                        </div>
                    </nav>

                    <!-- Hizmetler Menü -->

                    <div class="row margin-top-calculate">

                        @foreach (var item in pricingList)
                        {

                            <div class="price-box price-box-mobile" id="section_@item.Id"
                                 style="padding: 20px 0px 0px 0px; margin: 10px 0px; box-shadow: none; flex-direction: column;">

                                <!-- Hizmet Adı -->

                                <div class="tt-heading tt-heading-lg">
                                    <div class="tt-heading-inner">
                                        <h2 class="title-price-box title-mobile-size">@item.priceLongTitle</h2>
                                    </div>
                                </div>

                                <!-- Hizmet Adı -->

                                @foreach (var item2 in pricingCompList.Where(x => x.PricingId == item.Id))
                                {
                                    @if (nameList != null && nameList.Length > 0)
                                    {
                                        foreach (var item3 in nameList)
                                        {
                                            if (item2.ComponentTitle == item3)
                                            {
                                                titleCurrent = item2.ComponentTitle;
                                            }
                                        }
                                    }

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding-right: 5px;">
                                        <div class="price-box" style="height: 135px; text-align: left; padding: 15px 15px; box-shadow: 0 0 5px 2px rgb(0 0 0 / 14%);">
                                            <div class="ps-attributes" style="position: absolute; top: 15px; left: 15px; max-width: calc(100% - 200px);">
                                                <ul class="ps-attr list-inline">
                                                    <li style="margin:0px; max-width:100%;">
                                                        <div class="ps-attr-heading" style="font-size:13px;">@item2.ComponentTitle</div>
                                                        <p style="font-size:14px;" class="ps-attr-cont">@item2.Description</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="ps-attr-cont margin-top-10" style="position: absolute; bottom: 5px; left: 15px; }">@Convert.ToInt32(item2.Price) ₺</div>
                                            <div class="pr-box" style="padding: 0px; position: absolute; right: 11px; bottom: 11px; border:2px solid #fff; z-index:5;">

                                                @if (item2.ComponentTitle == titleCurrent)
                                                {
                                                    <button style="padding: 5px 12px; font-size: 20px; margin:0px;" value="@item2.Id" class="btn btn-price-box btn-primary active"><i class="fa fa-trash-alt"></i></button>
                                                    <input type="hidden" value="@item2.Price" id="price_@item2.Id" />
                                                    <input type="hidden" value="@item2.ComponentTitle" id="title_@item2.Id" />
                                                }

                                                else
                                                {
                                                    <button style="padding: 5px 12px; font-size: 20px; margin: 0px;" value="@item2.Id" class="btn btn-price-box btn-primary">+</button>
                                                    <input type="hidden" value="@item2.Price" id="price_@item2.Id" />
                                                    <input type="hidden" value="@item2.ComponentTitle" id="title_@item2.Id" />
                                                }
                                            </div>
                                            <div class="pr-box" style="position:absolute; bottom:11px; right:11px; padding:0px;">
                                                <img src="https://uploads.ikifikir.net/site/@item2.Image" style="width:110px; height:110px; object-fit:cover" />
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                        }

                    </div>
                    <span class="seperate-price"></span>
                </div>

                <!-- Hizmetler -->
                <!-- Sepet -->

                <div class="col-sm-3 fixed-total">

                    <!-- Sepet Seçilenler -->

                    @if (componentChoosed != null && componentChoosed.Count > 0)
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="price-box cart-button-w" id="cartButton" style="padding:5px 0;">
                                    <div class="pr-box price-features" style="padding:0px;">
                                        <ul class="list-unstyled" style="margin:0;">
                                            <li><a style="cursor:pointer;" id="btn_view" onclick="viewCartList();">Sepet</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="price-box cart-button-p" id="cartButton" style="padding:5px 0;">
                                    <div class="pr-box price-features" style="padding:0px;">
                                        <ul class="list-unstyled" style="margin:0;">
                                            <li><a style="cursor:pointer; color:#fff;" href="@Url.Action("sepet","anasayfa")">Onayla</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="price-box overflow-y-scroll hideCart" id="cartList" style="box-shadow: none; margin-top: 25px;">
                            <div class="pr-box price-features" style="padding: 5px 20px 5px 20px;">
                                <ul class="list-unstyled" id="uniqeListPrice">
                                    @foreach (var item in componentChoosed)
                                    {
                                    <li style="font-size: 15px; line-height: 22px; text-align:left; position:relative;" id="listBox_@Convert.ToInt32(item.Price)">
                                        <div style="max-width: calc(100% - 52px);">
                                            @item.Title <br /> <strong>@item.Price ₺</strong>

                                        </div>
                                        <a href="@Url.Action("sepettencikar","anasayfa", new { Id = item.Id })" style="padding: 7px 13px; font-size: 15px; margin: 0px; position: absolute; right: 3px; top: 3px; color: #ec1059;"><i class="fa fa-trash-alt" style="font-size:18px;"></i></a>
                                        @*<button style="padding: 0px 10px; font-size: 20px; margin: 0px; position: absolute; right: 15px; top: 10px; " value="@item.Id" class="btn btn-price-box btn-primary active">-</button>
        <input type="hidden" value="@item.Price" id="priceBox_@item.Id" />
        <input type="hidden" value="@item.Title" id="titleBox_@item.Id" />*@
                                        <hr style="margin-top: 10px; margin-bottom: 10px;" />
                                    </li>
                                 
                                    }
                                </ul>
                            </div>
                        </div>

                    }

                    else
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="price-box cart-button-w" id="cartButton" style="padding:5px 0;">
                                    <div class="pr-box price-features" style="padding:0px;">
                                        <ul class="list-unstyled" style="margin:0;">
                                            <li><a style="cursor:pointer;" id="btn_view" onclick="viewCartList();">Sepet</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="price-box cart-button-p" id="cartButton" style="padding:5px 0;">
                                    <div class="pr-box price-features" style="padding:0px;">
                                        <ul class="list-unstyled" style="margin:0;">
                                            <li><a style="cursor: pointer; color: #fff;" href="@Url.Action("sepet","anasayfa")">Onayla</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="price-box overflow-y-scroll hideCart" id="cartList" style="box-shadow: none; margin-top: 25px;">
                            <div class="pr-box price-features" style="padding: 5px 10px 0px 10px;">
                                <ul class="list-unstyled" id="uniqeListPrice">
                                    <li id="empty_list" style="font-size: 15px; line-height: 22px;">Hizmet seçmeye başlayın!</li>
                                </ul>
                            </div>
                        </div>
                    }

                    <!-- Sepet Seçilenler -->
                    <!--Toplam Fiyat-->

                    <div class="price-box" style="box-shadow: none;" id="btn-width">
                        <div class="price-box-price">
                            @if (total > 0)
                            {
                                <div class="price"><span class="total-title mobile-cart" style="color:#000;">Toplam:</span> <span class="mobile-price-font" id="count-price">@total</span> <span class="mobile-price-font">₺</span></div>
                            }
                            else
                            {
                                <div class="price"><span class="total-title mobile-cart" style="color:#000;">Toplam:</span> <span class="mobile-price-font" id="count-price">0</span> <span class="mobile-price-font">₺</span></div>
                            }
                        </div>
                    </div>

                    <!--Toplam Fiyat-->
                    <!-- Sepete Git Button -->

                    @if (total > 0)
                    {
                        <a href="@Url.Action("sepet","anasayfa")" style="background: none; border: 0; width: 100%; padding: 0; box-shadow:none;" class="btn-left mobile-cart" id="btn-width">
                            <div class="price-box pr-box-featured" style="box-shadow: none;" id="btnNext">
                                <span>Sepete Git</span>
                            </div>
                        </a>

                    }
                    else
                    {
                        <a href="@Url.Action("sepet","anasayfa")" style="background: none; border: 0; width: 100%; padding: 0; box-shadow:none;" class="btn-left mobile-cart" id="btn-width">
                            <div class="price-box pr-box-featured" style="box-shadow: none;" id="btnNext">
                                <span>Sepete Git</span>
                            </div>
                        </a>
                    }

                    <!-- Sepete Git Button -->

                </div>

                <!-- Sepet -->

            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="~/assets/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/assets/js/calculate.js"></script>

<script type="text/javascript">

    var current = @total;
    mainCalculate(current);

</script>