
@{
    ViewData["Title"] = "hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body.header-transparent-on #page-header .page-header-inner {
        padding-top: 100px;
        padding-bottom: 20px;
    }
</style>

<section id="page-header" class="ph-center">

    <div class="page-header-image parallax-6 bg-image" style="background-image: url('https://uploads.ikifikir.net/site/page-header-bg-6.jpg');">

        <div class="cover cover-opacity-4"></div>

    </div>

    <div class="page-header-inner tt-wrap">

        <div class="page-header-caption ph-cap-xlg ph-cap-light ph-cap-shadow parallax-5 fade-out-scroll-4">
            <div class="ph-title-wrap">
                <h1 class="page-header-title">Hizmetler</h1>
            </div>
            <div class="ph-subtitle-wrap">
                <h2 class="page-header-subtitle">Ne Yaparız?</h2>
            </div>

            <div class="zig-zag-separator zig-zag-lg">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            @*<div class="page-header-description">
                <div class="ph-desc-inner">
                    Fusce imperdiet, arcu non tempor aliquam, justo tortor cursus est, sed facilisis eros purus et felis. Sed eros sapien, iaculis eget gravida euismod, dapibus vitae turpis namino eksmino marvelis.
                </div>
            </div>*@
            <!-- End page header description -->

        </div>
        <!-- End page header caption -->

    </div>

</section>

<section id="services-section" class="services-style-1">
    <div class="services-inner tt-wrap">

        <div class="info-box-wrap ib-boxed ib-icon-color">

            <div class="row">
                <div class="col-sm-4">

                    <!-- Begin info box -->
                    <div class="info-box">
                        <span class="info-box-icon"><span class="lnr lnr-screen"></span></span>
                        <div class="info-box-info">
                            <h3 class="info-box-heading"><a href="@Url.Action("kategori","anasayfa",new { categoryId = 2 })">Marka Yönetimi</a></h3>
                            <!--<div class="info-box-text tt-ellipsis">-->
                                <!-- Use class "tt-ellipsis" to enable text element fixed height with ellipsis -->
                                <!--Aenean ac consectetur quam. Donec malesuada lacus nec ullamcorper pellentesque praesent ulis. Proin pulvinar scelerisque lorem apti.
                            </div>-->
                        </div> <!-- /.info-box-info -->
                    </div>
                    <!-- End info box -->

                </div> <!-- /.col -->

                <div class="col-sm-4">

                    <!-- Begin info box -->
                    <div class="info-box">
                        <span class="info-box-icon"><span class="lnr lnr-code"></span></span>
                        <div class="info-box-info">
                            <h3 class="info-box-heading"><a href="@Url.Action("kategori","anasayfa",new { categoryId = 3 })">Tasarım</a></h3>
                            <!--<div class="info-box-text tt-ellipsis">-->
                                <!-- Use class "tt-ellipsis" to enable text element fixed height with ellipsis -->
                                <!--Integer at condimentum orci, ut euismod ante. Class aptent taciti sociosqu ad litora torquent. Proin pulvinar scelerisque lorem apti.
                            </div>-->
                        </div> <!-- /.info-box-info -->
                    </div>
                    <!-- End info box -->

                </div> <!-- /.col -->

                <div class="col-sm-4">

                    <!-- Begin info box -->
                    <div class="info-box">
                        <span class="info-box-icon"><span class="lnr lnr-laptop"></span></span>
                        <div class="info-box-info">
                            <h3 class="info-box-heading"><a href="@Url.Action("kategori","anasayfa",new { categoryId = 4 })">Dijital</a></h3>
                            <!--<div class="info-box-text tt-ellipsis">-->
                                <!-- Use class "tt-ellipsis" to enable text element fixed height with ellipsis -->
                                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit necessit officia tempor. Proin pulvinar scelerisque lorem apti.
                            </div>-->
                        </div> <!-- /.info-box-info -->
                    </div>
                    <!-- End info box -->

                </div> <!-- /.col -->
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-sm-4">

                    <!-- Begin info box -->
                    <div class="info-box">
                        <span class="info-box-icon"><span class="lnr lnr-users"></span></span>
                        <div class="info-box-info">
                            <h3 class="info-box-heading"><a href="@Url.Action("kategori","anasayfa",new { categoryId = 5 })">Etkinlik</a></h3>
                            <!--<div class="info-box-text tt-ellipsis">-->
                                <!-- Use class "tt-ellipsis" to enable text element fixed height with ellipsis -->
                                <!--Aenean ac consectetur quam. Donec malesuada lacus nec ullamcorper pellentesque praesent ulis. Proin pulvinar scelerisque lorem apti.
                            </div>-->
                        </div> <!-- /.info-box-info -->
                    </div>
                    <!-- End info box -->

                </div> <!-- /.col -->

                <div class="col-sm-4">

                    <!-- Begin info box -->
                    <div class="info-box">
                        <span class="info-box-icon"><span class="lnr lnr-camera-video"></span></span>
                        <div class="info-box-info">
                            <h3 class="info-box-heading"><a href="@Url.Action("kategori","anasayfa",new { categoryId = 6 })">Video Prodüksiyon</a></h3>
                            <!--<div class="info-box-text tt-ellipsis">-->
                                <!-- Use class "tt-ellipsis" to enable text element fixed height with ellipsis -->
                                <!--Integer at condimentum orci, ut euismod ante. Class aptent taciti sociosqu ad litora torquent. Proin pulvinar scelerisque lorem apti.
                            </div>-->
                        </div> <!-- /.info-box-info -->
                    </div>
                    <!-- End info box -->

                </div> <!-- /.col -->

            </div> <!-- /.row -->

        </div>
        <!-- End info box wrap -->

    </div> <!-- /.services-inner -->
</section>

<section class="call-to-action-section cta-style-2 bg-image" style="background-image: url('https://uploads.ikifikir.net/site/pt-3.png');">

    <div class="cta-inner tt-wrap">
        <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag!). Note: additionally you can use prepared helper class "max-width-*" to add custom width to "tt-wrap". Example: "max-width-1500" (class "tt-wrap" is still required!). More info about helper classes in file "helper.css" -->
        <div class="row">
            <div class="col-md-6">

                <div class="tt-heading tt-heading-xxlg">
                    <div class="tt-heading-inner">
                        <h1 class="tt-heading-title">Ne yapıyoruz?</h1>
                        <div class="tt-heading-subtitle">Bizimle çalışmak ister misiniz?</div>

                        <div class="zig-zag-separator">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <!-- End zig-zag separator -->

                    </div> <!-- /.tt-heading-inner -->
                </div>
                <!-- End tt-heading -->

            </div> <!-- /.col -->

            <div class="col-md-6">

                <p>Fusce et velit sed augue rhoncus tempor. Sed ac lacinia augue, nec lacinia felis. Sed sit amet diam leo. Praesent vel malesuada arcu. Donec mattis, arcu vel vehicula feugiat sem turpis.</p>

                <div class="margin-top-30">
                    <a href="@Url.Action("iletisim","anasayfa")" class="btn btn-primary btn-lg margin-top-5">İletişime Geçin!</a>
                </div>

            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.cta-inner -->
</section>



