@model ikifikir.CORE.EmailConfig.AppoinmentContact
@using ikifikir.CORE.EmailConfig

@{
    ViewData["Title"] = "fiyatOnayla";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ComponentResult> resultList = ViewBag.ResultList as List<ComponentResult>;
}

<link href="~/assets/css/calculate.css" rel="stylesheet" />

<style>
    .tt-heading.padding-on {
        padding: 2% 0% 3% 0%;
    }

    .price-box .price-box-price .price {
        position: relative;
        display: inline-block;
        font-size: 45px;
        font-weight: bold;
    }

    .price-box .pr-box {
        padding: 0px 0px 5px 0px;
    }

    .price-box {
        position: relative;
        background-color: #fff;
        padding: 20px 0;
        text-align: center;
        z-index: 2;
        overflow: hidden;
        -webkit-box-shadow: 0 0 30px 1px rgb(0 0 0 / 14%);
        -moz-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.14);
        box-shadow: 0 0 30px 1px rgb(0 0 0 / 14%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        transform-style: preserve-3d;
    }

    .baseprice {
        perspective: 1000px;
        -webkit-perspective: 1000px;
    }

</style>

<section id="prices-section">
    <div class="prices-section-inner tt-wrap">
        <div class="price-boxes-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tt-heading tt-heading-xlg text-center padding-on">
                        <div class="tt-heading-inner">
                            <h1 class="tt-heading-title">Fiyat Onaylandı</h1>
                            <div class="tt-heading-subtitle">Sizinle iletişime geçebilmemiz için sepeti onaylayın ve formu doldurun</div>
                        </div> <!-- /.tt-heading-inner -->
                    </div>
                </div>
            </div>
            <div class="row section-width">
                <div class="col-sm-12 baseprice">
                    <div class="price-box" id="services_price">
                        <div class="price-heading-inner">
                            <h3 class="price-title">Hizmetler</h3>
                        </div>
                        <div class="pr-box price-features">
                            <ul class="list-unstyled" style="padding: 0px 15px 5px 15px">
                                @foreach (var item in resultList)
                                {
                                    <li>@item.Title</li>
                                    <li><strong style="font-size:30px;">@Convert.ToInt32(item.Price) ₺</strong></li>
                                    <hr style=" margin-top: 10px; margin-bottom: 10px;" />
                                }
                            </ul>
                        </div>
                        <div class="pr-box price-box-price">
                            <div class="price">@Convert.ToInt32(ViewBag.Total) ₺</div>
                        </div>
                        <div class="pr-box price-box-price">
                            @*<a href="@Url.Action("hepsinitemizle","anasayfa")" class="btn btn-primary margin-top-40">Hepsini Temizle</a>*@
                            @*<a href="@Url.Action("geridon","anasayfa")" class="btn btn-primary margin-top-40">Geri Dön</a>*@
                            @*<a href="@Url.Action("formteklifdoldur","anasayfa")" class="btn btn-primary margin-top-10">Sepeti Onayla</a>*@
                            <a onclick="sepetiOnayla();" class="btn btn-primary margin-top-10">Sepeti Onayla</a>

                        </div>
                    </div>
                    <div class="price-box" id="member_form">
                        <form method="post" action="@Url.Action("fiyatformgonder","anasayfa")">
                            <div class="contact-form-inner padding-5-p">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="NameSurname" asp-for="NameSurname" placeholder="Adınız Soyadınız..." required>
                                        </div>
                                    </div> <!-- /.col -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="PhoneNumber" asp-for="PhoneNumber" placeholder="Telefon Numarası...">
                                        </div>
                                    </div> <!-- /.col -->
                                </div> <!-- /.row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="EmailAdress" asp-for="EmailAdress" placeholder="Email Adresi" required>
                                        </div>
                                    </div> <!-- /.col -->
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="CompanyName" asp-for="CompanyName" placeholder="Firma Adı">
                                        </div>
                                    </div> <!-- /.col -->
                                </div> <!-- /.row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="Message" rows="4" asp-for="Message" placeholder="Mesajınız"></textarea>
                                        </div>
                                    </div> <!-- /.col -->
                                </div> <!-- /.row -->
                                <a onclick="teklifedon();" class="btn btn-primary margin-top-20">Teklife Dön</a>
                                <button type="submit" class="btn btn-primary margin-top-20">Gönder</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/vendor/jquery/jquery.min.js"></script>

<script>

    var sepetiOnayla = function () {
        var memberForm = document.getElementById("member_form");
        var services = document.getElementById("services_price");

        services.style.transform = "rotateY(180deg)";
        memberForm.style.transform = "rotateY(0deg)";

    }

    var teklifedon = function () {

        var memberForm = document.getElementById("member_form");
        var services = document.getElementById("services_price");

        services.style.transform = "rotateY(0deg)";
        memberForm.style.transform = "rotateY(180deg)";
    }

</script>